<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/bower_components/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="/bower_components/underscore/underscore-min.js" type="text/javascript"></script>
	<script src="/bower_components/backbone/backbone-min.js" type="text/javascript"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/javascripts/libs/primus.js" type="text/javascript"></script>


	<script src="/javascripts/app.js" type="text/javascript"></script>
	<script src="/javascripts/views/MainView.js" type="text/javascript"></script>
	<script src="/javascripts/views/GamesListView.js" type="text/javascript"></script>
	<script src="/javascripts/views/GameView.js" type="text/javascript"></script>
</head>
<body>
<div class="container" id="viewport"></div>
<div class="container" id="status"></div>
</body>
</html>